NEXT_PUBLIC_SUPABASE_URL=https://felbdlmefxukcengggob.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_v-JdMcjXsW60UJe94BQgvw_J5HMm5mV
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZlbGJkbG1lZnh1a2NlbmdnZ29iIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDM0MDg5NywiZXhwIjoyMDg5OTE2ODk3fQ.pUwbqjrGH3uGdIG6AZ_US5-O4axlCSi8CoUQCoIX3GQ
